* {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

:root {
    --main-color: #000;
    --secondary-color: #fff;

}


.hero-header {
    position: relative;
    width: 100%;
}

.header-image {
    width: 100%;
    max-width: 100%;
}

.nav-bar, .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    display: flex;
    padding: 1.125rem 5rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem 5rem;

}

.navbar-left {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.nav-links{
    column-gap: 40px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.nav-links li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;

}

.logo-web {
    max-width: 100%;
    max-height: 100%;
}
